@import '../common/colors';

.searchbar {
  display: flex;
  margin: 2rem 0 2rem 5rem;

  img.search {
    height: 2rem;
    margin: 1rem;
    padding: 1rem;
    margin-right: 0;
    background-color: $dark-green-bg;
    border-radius: 30% 0 0 30%;
  }

  input[type='text'] {
    border-radius: 0;
    min-width: 50%;
    max-height: 2rem;
  }
  input[type='list'] {
    border-radius: 0 5px 5px 0;
    max-height: 2rem;
    margin: 1rem;
    background-color: $dark-green-bg;
    padding: 1rem;
    margin-left: 0;
    border: none;

    &::placeholder {
      color: black;
      font-size: large;
    }

    &:focus {
      border: none;
    }
  }
}
