$main-green-bg: rgba(179, 188, 135, 100);
$main-green-op: rgba(179, 188, 135);
$dark-green-bg: rgba(105, 118, 68, 120);
$purple: rgba(134, 96, 142, 100);
$orange: rgba(243, 173, 120, 100);
$red: rgba(238, 83, 79, 100);
$blue: rgba(14, 123, 177, 100);
$pink: rgba(255, 204, 204, 100);
