@import '../common/colors.scss';

.wrapper {
  background-color: white;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .book {
    min-height: 400px;
    min-width: 280px;
    p {
      font-size: x-large;
      padding: 2rem;
    }
  }

  .add {
    display: flex;
    flex-direction: column;
  }

  select {
    margin: 1rem 0;
    padding: 1rem;
    min-width: 300px;
    font-size: large;
    border: none;
    background-color: $main-green-op;
    border-radius: 5px;
    color: white;

    &:focus {
      background-color: $dark-green-bg;

      &::placeholder {
        color: white;
      }
    }
  }
}
