@import '../colors.scss';

.star-rating {
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 8px;
  }

  button.star {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: x-large;
    min-width: 1rem;
    margin: 0;
    padding: 0.05rem;

    &:focus {
      color: $orange;
    }

    &:hover {
      color: tomato;
    }
  }
  .on {
    color: $orange;
  }
  .off {
    color: #ccc;
  }
}
